.catalog_parent{
    width: 90%;
    margin: auto;
    margin-top: 124px;
}

.catalog_inline
{
    display: flex;
    align-items: flex-start;

}

.catalog_first_card div p{
    font-size: 36px;
    font-weight: 265;
    transform: translateY(-30px);
}


.catalog_first_card div{
    width: 580px;
}
.catalog_first_card{
    text-align: left !important;
    width: 40%;
}





.catalog_right_block{
    display: flex;
    justify-content: flex-end;
    text-align: center;

}

.catalog_right_block div{
    width: 28%;
}
.catalog_right_block div p{
    line-height: 29px;
    font-size: 24px;
    font-weight: 265;
}

.catalog_right_block div li{
    font-size: 26px;
    font-weight: 300;
    line-height: 31px;
    text-transform: uppercase;
}


.catalog_inline div li{
    list-style: none;
}



/* Catalog title */

.catalog_title{
    text-align: center;
    margin-top: 50px;
}



.catalog_title_inline{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog_title_inline div{
    width: 230px;
}
.catalog_title_inline p{
    font-size: 52px;
    font-weight: 400;
}

.catalog_title_inline span{
    color: rgba(0,0,0,0.35);
    font-size: 18px;
    border-bottom: 1px solid rgba(0,0,0,0.35);
}





/* Cards */


.cards_parent{
    width: 93%;
    margin: auto;
    margin-top: 80px;
}

.cards_inline{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.cards_inline div{
    margin: 20px 28px;
}

.card{
    text-align: center;
}
.card img{
    width: 300px;
    height: 300px;
}


.card p{
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
    width: 100%;
}










/* Work banner */


.work_banner{
    background: #f2f2f2;
    height: 100%;
    margin-top:100px;
}



.work_title{
    text-align: center;
    padding-top: 20px;
}

.work_title h2{
    font-size: 52px;
    font-weight: 400;
}

.work_title p{
    font-size: 26px;
    font-weight: 300;
}
.form_block_inline{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


form div input{
    background: none;
    border:0;
    border-bottom: 1px solid rgba(0,0,0,0.6) ;
    padding: 24px 0 !important;
    font-size: 24px;
    color: rgba(0,0,0,0.8) ;
    outline: none;
    margin: 10px 0;
    width: 437px ;
    font-weight: 265;
    font-family: 'RF Tone';
}
form div{
    position: relative;
}

form div img{
    width: 22px;
    height: 24px;
    position: absolute;
    right: 5%;
    top: 40%;
}

.work_banner .form_button {
    text-align: center;
    margin-top: 60px;
}

.form_button button{
    width: 455px;
    height: 75px;
    font-family: 'RF Tone';
    border:0;
    background: black;
    font-weight: 700;
    color: white;
    font-size: 24px;
    margin-left: 80px;
    margin-bottom: 47px;
}




.form_right_block div ul li {
    font-size: 24px;
    width: 100%;
    margin: 30px 0;
    font-weight: 300;
    line-height: 28.8px;
    display: flex;
}

.form_right_block div ul li span{
    margin: 0px 20px;
}



.form_block_center{
    width: 95%;
    margin: auto;
}



/* Project */


.project_banner{
    text-align: center;
    width: 89%;
    margin: auto;
    margin-top: 124px;
}

.project_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.project_title h2{
    font-size: 52px;
    font-weight: 400;
}

.project_title div{
    width: 200px;
}
.project_title p{
    color: rgba(0,0,0,0.35);
    font-family: 'RF Tone';
    font-size: 18px;
    border-bottom: 2px solid gray;
}







/* Media */


/* Lights */


@media  screen and (max-width:1913px) {
    .cards_inline{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .cards_inline div{
        margin: 20px 20px;
    }
    
    .card{
        text-align: center;
    }
    .card img{
        width: 300px;
        height: 300px;
    }
    
}














@media  (max-width:1446px) and (max-height:760px) {
    .catalog_first_card div p{
        font-size: 26px;
        font-weight: 265;
        transform: translateY(-25px);
    }
    
    .catalog_parent{
        width:91%;
        margin: auto;
        margin-top: 85px;
    }
    .catalog_first_card div{
        width: 440px;
    }
    .catalog_first_card{
        text-align: left !important;
        width: 35%;
    }
    .catalog_right_block div{
        width: 29%;
    }
    .catalog_right_block div p{
        line-height: 23px;
        font-size: 17px;
        font-weight: 265;
    }
    
    .catalog_right_block div li{
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        text-transform: uppercase;
    }
    
    .project_title h2{
        font-size: 42px !important;
        font-weight: 400;
    }
}




@media  (max-width:1085px) and (max-height:570px) {
    .catalog_first_card div p{
        font-size: 22px;
        font-weight: 265;
        transform: translateY(-25px);
    }
     
    .catalog_first_card div{
        width: 380px;
    }
    .catalog_right_block div p{
        line-height: 20px;
        font-size: 13px;
        font-weight: 265;
    }
    
    .catalog_right_block div li{
        font-size: 15px;
        font-weight: 300;
        line-height: 20px;
        text-transform: uppercase;
    }
    .catalog_parent{
        width: 90%;
        margin: auto;
        margin-top: 84px;
    }
    .catalog_right_block div{
        width: 25%;
    }
}   
















/* cards */


@media  (max-width:1446px) and (max-height:760px) {
    
.cards_parent{
    width: 95%;
    margin: auto;
    margin-top: 40px;
}

.catalog_title{
    margin-top: 10px;
    font-size: 52px;
}

.catalog_title_inline div{
    width: 160px;
}


.catalog_title_inline{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.catalog_title_inline span{
    font-size: 12px;
    transform: translateY(4px);
}
.catalog_title_inline p{
    font-size: 37px;
}
.cards_inline{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}   
.cards_inline div{
    margin: 20px 20px;
}
    .card{
        text-align: center;
    }
    .card img{
    width: 215px;
    height: 213px;
    }


    .card p{
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
    transform: translateY(-10px);
    width: 100%;
    }


    


}




@media  (max-width:1085px) and (max-height:570px) {
    .catalog_title_inline p{
        font-size: 30px;
    }

    .cards_parent{
        width: 93%;
        margin: auto;
        margin-top: 50px;
    }
    
    .cards_inline{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    .cards_inline div{
        margin: 20px 10px;
    }
    
    .card{
        text-align: center;
    }
    .card img{
        width: 180px;
        height: 180px;
    }
    
    
    .card p{
        font-size: 16px;
        line-height:16px;
        font-weight: 400;
        text-align: center;
        width: 100%;
    }
}

















 /* Work bammer*/ 

@media  (max-width:1446px) and (max-height:760px) {
    .work_banner{
        background: #f2f2f2;
        height: 100%;
        margin-top:50px;
        padding: 0px 0;
    }
    
    .form_button button{
        height: 55px;
        width: 400px;
    }
        
    .work_title{
        text-align: center;
        padding-top: 5px;
    }
    
    .work_title h2{
        font-size: 34px;
        font-weight: 400;
    }
    
    .work_title p{
        font-size: 17px;
        font-weight: 300;
    }

    .form div input{
        background: none;
        border:0;
        border-bottom: 1px solid rgba(0,0,0,0.6) ;
        padding: 18px 0 !important;
        font-size: 18px !important;
        color: rgba(0,0,0,0.8) ;
        outline: none;
        width: 300px !important;
        font-weight: 265;
        margin:5px 0px;
        font-family: 'RF Tone';
    }

 
    .form_block_inline{
        margin-top: 15px;
    }
    .form img{
        width: 16px;
        height: 16px;
        position: absolute;
        right: 0%;
        top: 40%;
    }

    .work_banner .form_button {
        text-align: center;
        margin-top: 20px;
    }
    
    .form_button button{
        width: 325px;
        height: 55px;
        font-family: 'RF Tone';
        border:0;
        background: black;
        font-weight: 700;
        color: white;
        font-size:17px;
        margin-left: 60px;
        margin-bottom:27px;
    }
    
        
    .form_right_block div ul li {
        font-size: 17px;
        width: 100%;
        margin: 15px 0;
        font-weight: 400;
        line-height: 24px;
        display: flex;
    }

    .form_right_block div ul li span{
        margin: 0px 18px;
    }






    /* project */

    

    .project_banner{
        text-align: center;
        width: 89%;
        margin: auto;
        margin-top: 90px;
    }

    .project_title h2{
        font-size: 37px !important;
    }


    .project_title div{
        width: 200px;
    }
    .project_title p{
        color: rgba(0,0,0,0.35);
        font-family: 'RF Tone';
        font-size: 12px;
        border-bottom: 1px solid gainsboro;
        transform: translateY(5px);
    }
    
}




@media  (max-width:1085px) and (max-height:570px) {
    .work_banner{
        background: #f2f2f2;
        height: 100%;
        margin-top:100px;
        padding:20px 0;
    }

    .work_title h2{
        font-size: 32px;
        font-weight: 400;
    }
    
    .work_title p{
        font-size: 18px;
        font-weight: 300;
    }
    .form div input{
        background: none;
        border:0;
        border-bottom: 1px solid rgba(0,0,0,0.6) ;
        padding: 18px 0 !important;
        font-size: 15px !important;
        color: rgba(0,0,0,0.8) ;
        outline: none;
        margin: 10px 0;
        width: 320px !important ;
        font-weight: 265;
        font-family: 'RF Tone';
    }

    .form_right_block div ul li {
        font-size:17px;
        width: 100%;
        margin: 27px 0;
        font-weight: 300;
        line-height: 20.8px;
        display: flex;
    }
    
    .form_right_block div ul li span{
        margin: 0px 18px;
    }
    
    
    
    .form_block_center{
        width: 95%;
        margin: auto;
    }


    .work_banner .form_button {
        text-align: center;
        margin-top: 60px;
    }
    
    .form_button button{
        width: 355px;
        height: 53px;
        font-family: 'RF Tone';
        border:0;
        background: black;
        font-weight: 700;
        color: white;
        font-size:18px;
        margin-left: 80px;
        margin-bottom: 47px;
    }
    
}






 

 @media (max-width:880px){
     .catalog_inline{
         display: inline;
         flex-direction: column;
     }
    .form_block_inline{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .work_title{
        text-align: center;
        padding: 50px;
    }
    
    .work_title h2{
        font-size: 35px;
    }
    
    .work_title p{
        font-size: 20px;
    }
    .catalog_first_card div {
        width: 100% !important;
    }

    .catalog_first_card{
        width: 100%;
    }
 }

 

 





@media (max-width:997px)
{
    .catalog_title_inline{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    
}

@media screen and (max-width:877px){
    .catalog_right_block{
        display: flex;
        justify-content: space-around;
        height: 100px;
        align-items: center;
        width: 100%;
    
    }

    .catalog_right_block div{
        width: 100%;
    }
}


@media (max-width:799px){
    .cards_inline{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media  (max-width:675px) {
    .catalog_parent{
        width: 90%;
    }
    .catalog_first_card div{
        text-align: left;
        width: 80%;
        margin: auto;
    }
    .catalog_right_block{
        margin-top: 20px;
    }
    .catalog_right_block div{
        width: 80%;
        margin:0px auto;
    }
}   


@media  (max-width:588px) {
    .catalog_right_block{
        display: flex;
        justify-content:flex-start;
        align-items: flex-start;
        width: 100%;
        flex-direction: column;
    }

   .catalog_title{
       margin-top: 150px;
   }
   .catalog_right_block div{
    width: 100%;
    margin:0px auto;
    text-align: left;
}

.project_title{
    flex-direction: column;
}
}





@media  (max-width:648px) {
    .form_block_inline{
        flex-direction: column;
    }
}

@media  (max-width:500px) {
    .work_banner .form_button {
        text-align: center;
        width: 80%;
        margin: auto;
        margin-top: 60px;

    }
    
    .form_button button{
        width: 80%;
        height: 55px;
        font-family: 'RF Tone';
        border:0;
        background: black;
        font-weight: 700;
        color: white;
        font-size: 19px;
        margin-left: 0;
        margin-bottom: 47px;
    }
    
    
}
@media  (max-width:436px) {
    .work_title h2{
        font-size: 32px;
    }   
    
}

@media  (max-width:430px) {
    .card img{
        width: 80%;
    }

    
}






/* Mobile */
@media  (max-width:375px) {
    .catalog_title{
        margin-top: 400px;
    }
    .catalog_title p{
        font-size: 35px;
    }

    .card img{
        width: 100%;
    }
    .work_title p{
        font-size: 15px;
    }
    .form div input{
        width: 300px !important;
        font-size: 18px;
    }

    .form_right_block span{
        font-size: 15px;
    }

    

.form_right_block div ul li {
    font-size: 16px;
    width: 100%;
    margin: 20px 0;
    font-weight: 300;
    line-height: 28.8px;
    display: flex;
}
.form_right_block div ul{
    padding-left: 0;
}
.form_right_block div ul li span{
    margin: 0px 5px;
}
.project_banner{
    margin-top: 20px;
}

.project_title h2{
    font-size: 35px;
}

.project_title p{
    font-size: 13px;
}



}