.slider_parent{
    position: relative;
    height: 800px;
}


.swiper-container {
    width: 100%;
    height: 100vh;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide tezxt vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

 
  :root{
    --swiper-navigation-size:27px;
 }



  .slider_picture1{
      background: url('../../assets/Slider/slide1.jpg') center / cover;
      width: 100%;
      height: 800px;
      display: flex;
      justify-content: center;
      position: relative;
      align-items: center;
   
  }
  .slider_picture1::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(0,0,0,0.25);
  }
  .slider_picture2::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.35);
}

  .slider_picture2{
      background: url('https://images8.alphacoders.com/595/thumb-1920-595107.jpg') center / cover;
      width: 100%;
      height: 800px;
      display: flex;
      position: relative;

      justify-content: center;
      align-items: center;
  
  }

  .slider_picture3{
    background: url('https://lh3.googleusercontent.com/proxy/Wlfusm1YDzgcVSMEbQ3PFQCVRoigKWapAtEtjj5glIPSJj8CpzrhcHhzH8m1HwVbvwC58UD0Q7oQRrv8vAyQydrWjOBVXZ9_y0t5-jDx8FTtQpEZY9CGDTstakEB7gHHgi8BAOXjycnkLBxCC3m6aTCYFcTy') center / cover;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.slider_title{
    color: white;
    font-size: 80px;
    text-align: center;
    width: 900px;
    line-height: 88px;
    font-weight: 400;
    position: relative;
}






.swiper_button_next{
    content: '';
    color: white;
    margin-right: 45px;
}

.swiper_button_prev{
    content: '';
    color: white;
    margin-left: 45px;
}


/* Media */

@media screen and (max-width:1021px){
    .slider_title{
        color: white;
        font-size: 50px;
        text-align: center;
        width: 900px;
    }
}

@media screen and (max-width:853px){
    .slider_title{
        color: white;
        font-size: 50px;
        text-align: center;
        width: 100%;
    }
}


@media screen and (max-width:609px){
    .slider_title{
        color: white;
        font-size: 30px;
        text-align: center;
        width: 100%;
    }  
}


@media  (max-width:542px) {
    .slider_picture1{
        height: 500px;
    }

    .slider_picture2{
        height: 500px;
    }

    .slider_parent{
        position: relative;
        height: 500px;
    }
    .slider_title{
        color: white;
        font-size: 40px;
        text-align: center;
        width: 80%;
        margin: auto;
        line-height: 70px;
    }  
    
    
    
}