.slider_parent{
    position: relative;
    height: 100%;
    width: 95%;
    margin: auto;
    transform: translateY(-55px);
}


.swiper-container {
    width: 100%;
    height: 400px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .card{
      height: 590px;
  }
 .card img{
     width: 400px;
     height: 400px;
     object-fit: cover;
 }
 .card{
     text-align: center;
     transform: translateY(55px);
 }
 .card h2{  
     font-size: 24px;
     font-weight: 400;
     line-height: 28px;
 }

 .card p{
     font-size: 18px;
     font-weight: 265;
     line-height: 21px;
 }

.swiper_next{
    color: black;
}

.swiper_prev{
    color: black;
}

@media  (max-width:1446px) and (max-height:760px) {
    .card img{
        width: 275px !important;
        height: 270px !important;
        object-fit: cover;
    }
    .card h2{  
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
    }
    .card p{
        font-size: 13px;
        transform: translateY(-10px);
        font-weight: 265;
        line-height: 21px;
    }
    :root{
        --swiper-navigation-size:15px;
     }
    
    .card{
        height: 460px;
    }

    .swiper_next{
        transform: translateY(-40px);
        color: black;
        font-weight: 900;
    }
    .swiper_prev{
        transform: translateY(-40px);
        color: black;
        font-weight: 900;
    }
        
}












 @media (max-width:1866px){
    .card img{
        width: 350px;
        height: 420px;
        object-fit: cover;
    }
 }

 @media (max-width:1656px){
    .card img{
        width: 320px;
        height: 420px;
        object-fit: cover;
    }
 }

 @media (max-width:1518px){
    .card img{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }

    .slider_parent{
        position: relative;
        height: 100%;
        width: 95%;
        margin: auto;
        margin-top: 50px;
    }
    
 }

 @media (max-width:1428px){
    .card img{
        width: 280px;
        height: 380px;
        object-fit: cover;
    }
 }


 @media (max-width:407px){
     .swiper_next{
         width: 10px;
         
     }

     :root{
        --swiper-navigation-size:20px
     }
 }

 @media (max-width:375px){
    .card img{
        width: 250px;
        height: 270px;
        object-fit: cover;
    }
    .card{
        transform: translateY(50px);
    }
    .card h2{
        font-size:20px;
    }

    .card p{
        font-size:15px;
    }

    .swiper_prev , .swiper_next{
        transform: translateY(-100px);
    }

    .slider_parent{
        height: 400px;
    }
 }




