@import url('../../assets/Fonts/stylesheet.css');


.project_title{
    margin-top: 80px;
    text-align: center;
}

.project_title p{
    font-size: 52px;

}


.project_menu_banner{
    width: 93%;
    margin: auto;
    margin-top: 100px;

}

.project_menu_inline{
    display: flex;
    justify-content: space-between;
}


.project_menu_inline  li{
    font-size: 24px;
    font-weight: 300;
}


.project_banner_card{
    width: 90%;
    margin: auto;
    margin-top: 100px;

}

.project_inline_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.card img{
    width: 420px;
    height: 400px;
}

.card{
    text-align: center;
    margin: 20px 0;

}

.card h2{
    font-family: 'RF Tone';
    font-weight: normal;
}

.card p{
    font-size: 18px;
    font-weight: 265;
}











/* Medida  */

@media  (max-width:1446px) and (max-height:760px) {
    .project_menu_inline  li{
        font-size: 16px;
        font-weight: 300;
    }
    .project_menu_banner{
        width: 95%;
        margin: auto;
        margin-top: 100px;
    
    }
    
    .project_banner_card{
        width: 90%;
        margin: auto;
        margin-top: 70px;
    
    }
    
    .card img{
        width: 270px !important;
        height: 260px !important;
    }
    .card h2{
        font-family: 'RF Tone';
        font-weight: normal;
        font-size: 16px;
    }
    .card p{
        font-size: 15px;
        font-weight: 265;
    }
    
    
.project_title p{
    font-size: 42px;

}
}

@media  (max-width:1860px) {
    .card img{
        width: 370px;
        height: 370px;
    }
    
}


@media  (max-width:1640px) {
    .card img{
        width: 330px;
        height: 330px;
    }
    
}
