@import url('../../../assets/Fonts/stylesheet.css');


.catalog_title{
    text-align: center;
    margin-top: 80px;
}

.catalog_title .title{
    font-size: 52px;
    margin-bottom: 20px;
    font-weight: normal;
    font-style: normal;
    line-height: 62px;
}

.catalog_title .square{
    font-size: 26px;
    transform: translateX(-40px) !important;
    color: rgba(0,0,0,0.3);
    font-weight: 300;
}

.catalog_select_inline{
    display: flex;
    justify-content: space-between;
    width: 1790px;
}

.catalog_banner{
    width: 90%;
    margin: auto;
    margin-top: 100px;
}

.catalog_select_inline select{
    font-family: 'RF Tone';
    width: 300px;
    font-weight: 265;
    outline: 0;
    padding-bottom: 15px;
    font-size: 26px;
    border:0;
    background: none;
    border-bottom: 1px solid black  ;
}


.catalog_decor{
    width: 400px !important;
}
    



.cards_parent{
    width: 93%;
    margin: auto;
    margin-top: 80px;
}

.cards_inline{
    display: flex;
    flex-wrap: wrap;
    width: 1900px;
    align-items: center;

}

.cards_inline a{
    transform: translateY(-9px);
}
.cards_inline div{
    margin: 20px 35px;
}

.card{
    text-align: center;
}
.card img{
    width: 301px;
}


.card p{
    font-size: 24px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: normal;
}









/* Work banner */


.work_banner{
    background: #f2f2f2;
    height: 100%;
    margin-top: 100px;
}

.work_padding{
    padding: 50px 0;
}

.work_title{
    text-align: center;
    padding: 50px;
}

.work_title h2{
    font-size: 52px;
    font-weight: normal;
}

.work_title p{
    font-size: 26px;
    font-weight: 300;
}
.form_block_inline{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}


form div input{
    background: none;
    border:0;
    border-bottom: 2px solid gray;
    padding: 15px 0;
    font-size: 24px;
    outline: none;
    margin: 10px 0;
    width: 400px;
}


form div{
    position: relative;
}

form div img{
    width: 14px;
    position: absolute;
    right: 5%;
    top: 40%;
}

.work_banner .form_button {
    text-align: center;
    margin-top: 60px;
}

.form_button button{
    width: 400px;
    padding: 18px 0; 
    background: black;
    color: white;
    font-size: 24px;
    margin-bottom: 120px;
    font-family: 'RF Tone'; 

}




.form_right_block div ul li {
    font-size: 24px;
    width: 100%;
    margin: 15px 0;
    display: flex;
    line-height: 29px;
    font-style: normal;
    font-weight: 300;
}

.form_right_block div ul li span{
    margin: 0px 20px;
}



.form_block_center{
    width: 80%;
    margin: auto;
}














/* Medida  */


@media  (max-width:1446px) and (max-height:760px) {
    .title{
        font-size: 36px !important;
        margin-bottom: -10px !important;

    }
    .catalog_title{
        text-align: center;
        margin-top: 50px;
    }
    .catalog_title .square{
        font-size: 18px;
        transform: translateX(-10px) !important;
        color: rgba(0,0,0,0.3); 
        font-weight: 300;
    }

    .catalog_select_inline{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .catalog_banner{
        width: 90%;
        margin: auto;
        margin-top: 30px;
    }

    .catalog_select_inline select{
        font-family: 'RF Tone';
        width:220px;
        font-weight: 265;
        outline: 0;
        padding-bottom: 15px;
        font-size: 20px;
        border:0;
        background: none;
        border-bottom: 1px solid black  ;
    }
    
    
    .catalog_decor{
        width: 300px !important;
    }




    /* CARDS */

    .cards_parent{
        width: 93%;
        margin: auto;
        margin-top: 50px;
    }
    
    .cards_inline{
        display: flex;
        flex-wrap: wrap;
        width: 103%;
        align-items: center;
    
    }
    
    
    .cards_inline div{
        margin: 20px 22px;
    }

    .card img{
        width: 210px;
        height: 210px;
    }
    
    
    .card p{
        font-size: 18px !important;
        text-align: center;
        width: 100%;
        margin-top: -10px;
        text-transform: uppercase;
        font-weight: normal;
    }





    /* FORM */
    
    .work_padding{
        padding: 0px 0;
    }

    .work_title{
        text-align: center;
        padding: 28px;
    }

    .work_title h2{
        font-size:37px;
        font-weight: normal;
    }

    
    .work_title p{
        font-size: 17px;
        font-weight: 300;
    }
    .form_block_inline{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row-reverse;
    }

    .form_right div input{
        background: none;
        border:0;
        border-bottom: 1px solid gray;
        padding: 15px 0;
        font-size: 17px;
        outline: none;
        margin: 0px 0;
        width: 320px !important;
    }



    .form_right_block div ul li {
        font-size: 17px;
        width: 100%;
        margin: 22px 0;
        display: flex;
        line-height: 20px;
        font-style: normal;
        font-weight: 400;
    }
    
    .form_right_block div ul li span{
        margin: 0px 15px;
    }
    
    .form_block_center{
        width: 85%;
        margin: auto;
    }
    
    
    
    .work_banner .form_button {
        text-align: center;
        margin-top: 33px;
    }

    .form_button button{
        width: 325px;
        padding: 15px 0; 
        background: black;
        border:0;
        color: white;
        font-size: 18px;
        margin-bottom: 90px;
        font-family: 'RF Tone'; 
    }
    form div img{
        width: 16px !important;
        height: 16px !important;
        position: absolute;
        right: 5%;
        top: 40%;
    }
}







@media  (max-width:1085px) and (max-height:570px) {
    .catalog_select_inline{
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }
    .cards_inline{
        align-items: center;
        justify-content: center;
    }
}


@media (max-width:768px) {
    .catalog_select_inline{
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .catalog_select_inline select{
        width: 100%;
        margin-bottom: 30px;
    }

    .catalog_decor{
        width: 100% !important;
    }
}




@media  (max-width:768px) {
    .form_block_center{
        width: 90%;
        margin: auto;
    }
    .form_block_inline{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column  ;
    }
    .work_title h2{
        font-size: 32px;
    }
}
@media  (max-width:528px) {
    .card img{
        width: 100%;
    }
}

@media  (max-width:446px) {
    .work_title h2{
        font-size: 24px;
    }
    
    .form_right_block div ul{
        padding-left: 0;
    }
    
    .form_block_center{
        width: 98%;
        margin: auto;
    }
    
    
}

