@import url('../../../assets/Fonts/stylesheet.css');

.designer_parent{
    width: 92%;
    margin: auto;
}

.designer_title{
    margin-top: 143px;
}

.designer_title h1{
    font-size: 52px ;
    font-weight: 400;
}   

.designer_title p{
    font-size: 26px;
    color: black;
    opacity: 0.3;
    font-weight: 300;
    transform: translateY(15px);
}

.designer_card_inline{
    display: flex;
    align-items: flex-start;
    margin-top: 100px;
}

.left_side img{
    width: 436px;
    height: 436px;

}

.right_inline{
    display: flex;
}

.left_side{
    width: 27%;
}

.right_side h1{
    margin-top: 0;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: -10px;
}

.right_side p{
    font-size: 24px;
    font-weight: 265;
}

.right_text p{
    font-weight: 300;
    line-height: 28px;
    width: 784px;
}

.right_text{
    padding: 10px 0;
}


.right_inline p{
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 265;
}

.second_p{
    padding-left: 60px;
}

.second_p_b{
    padding-left: 30px;
}


.designer_sociel_inline{
    display: flex;
    transform: translateX(-20px);
    margin-top: 45px;
}

.designer_sociel_inline a i{
    font-size: 30px;
    margin: 0 20px;
}



.project_with_designer h1{
    margin-top: 120px;
    font-size: 52px;
    font-weight: 400;
}




.project_inner{
    margin-top: 120px;
}

.project_inline{
    display: flex;
    justify-content: space-between;
}

.card img{
    width: 430px;
    height: 430px;
}
.card{
    text-align: center;
}
.card h2{
    font-size: 24px;
    font-weight: 400;
}

.card p{
    font-weight: 265;
    margin-top: -5px;
    font-size: 18px;
}






/* Work banner */




.work_banner{
    background: #f2f2f2;
    height: 100%;
    margin-top: 120px;
}

.work_padding{
    padding: 0px 0;
}

.work_title{
    text-align: center;
}

.work_title h2{
    font-size: 52px;
    padding-top: 78px;
    font-weight: 400;
}


.form_block_inline{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 108px;
}


form div input{
    background: none;
    border:0;
    border-bottom: 1px solid rgba(  0,0,0,0.6);
    padding: 15px 0;
    font-size: 24px;
    font-weight: 265;
    outline: none;
    margin: 24px 0;
    width: 437px;
}
form div select{
    background: none;
    border:0;
    color: rgba(0,0,0,0.6);
    border-bottom: 1px solid rgba(0,0,0,0.6);
    padding: 15px 0;
    font-size: 24px;
    outline: none;
    font-weight: 265;
    font-family: 'RF Tone';
    margin: 24px 0;
    width: 437px;
    transform: translateY(10px);
}
form div{
    position: relative;
}

form div i{
    position: absolute;
    right: 5%;
    top: 40%;
}

.work_banner .form_button {
    text-align: center;
    margin-top: 110px;
}

.form_button button{
    width: 455px;
    height: 75px;
    background: black;
    color: white;
    font-size: 24px;
    margin-bottom: 78px;
    font-family: 'RF Tone'; 
    font-weight: 700;
}





.form_block_center{
    width: 55%;
    margin: auto;
}







