@import url('../../assets/Fonts/stylesheet.css');


.catalog_title{
    text-align: center;
    margin-top: 80px;
}

.catalog_title p{
    font-size: 52px;
    font-weight: 400;
}
.cards_inline a{
    transform: translateY(-9px);
}

.cards_inline h1{
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    width: 100%;
}

.catalog_select_inline{
    display: flex;
    justify-content: space-between;
    width: 1690px;
}

.catalog_banner{
    width: 90%;
    margin: auto;
    margin-top: 100px;
}

.catalog_select_inline select{
    font-family: 'RF Tone';
    width: 300px;
    outline: 0;
    padding-bottom: 15px;
    /* -webkit-appearance: none; */
    font-size: 26px;
    font-weight: 265;
    border:0;
    background: none;
    border-bottom: 1px solid black  ;
}


.catalog_decor{
    width: 400px !important;
}
    



.cards_parent{
    width: 93%;
    margin: auto;
    margin-top: 80px;
}

.cards_inline{
    display: flex;
    flex-wrap: wrap;
    width: 1760px;
    align-items: center;

}


.cards_inline div{
    margin: 20px 25px;
}

.card{
    text-align: center;
}
.card img{
    width: 301px;
    height: 300px;
}


.card p{
    font-size: 24px;
    text-align: center;
    width: 100%;
}























/* Medida  */

@media  (max-width:1825px) {
    .catalog_select_inline{
        display: flex;
        justify-content: space-between;
        width: 1600px;
    }

    .cards_inline{
        display: flex;
        flex-wrap: wrap;
        width: 1600px;
        align-items: center;
    
    }
    
}

@media  (max-width:1710px) {
    .catalog_select_inline{
        display: flex;
        justify-content: space-between;
        width: 1500px;
    }

    .cards_inline{
        display: flex;
        flex-wrap: wrap;
        width: 1500px;
        align-items: center;
    
    }

    .cards_inline div{
        margin: 20px 35px;
    }
    
}

@media  (max-width:1603px) {
    .catalog_decor{
        width: 350px !important;
    }
        
    .catalog_select_inline{
        display: flex;
        justify-content: space-between;
        width: 1400px;
    }
    .cards_inline div{
        margin: 20px 30px;
    }
    .cards_inline{
        display: flex;
        flex-wrap: wrap;
        width: 1450px;
        align-items: center;
    
    }
}


@media (max-width:1446px) and (max-height:760px) {
    .catalog_select_inline{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }  

    .catalog_title p{
        font-size:36px;
        font-weight: 400;
        
    }
    
    .catalog_title{
        text-align: center;
        margin-top: 60px;
    }
    .cards_inline div{
        margin: 20px 25px;
    }

    .cards_inline{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
    
    }

    .catalog_select_inline select{
        font-family: 'RF Tone';
        width: 230px;
        outline: 0;
        padding-bottom: 15px;
        font-size: 19px;
        font-weight: 300;
        border:0;
        background: none;
        border-bottom: 1px solid gray  ;
    }

    .catalog_decor{
        width: 300px !important;
    }
    .card img{
        width: 215px;
        height: 200px;
    }

    
    .cards_parent{
        width: 93%;
        margin: auto;
        margin-top: 50px;
    }

    .cards_inline{
        display: flex;
        flex-wrap: wrap;
        width: 103%;
        align-items: center;

        }


.cards_inline div{
    margin: 20px 18px;
}
.card p{
    font-size: 17px;
    text-align: center;
    width: 100%;
}

.catalog_banner{
    width: 90%;
    margin: auto;
    margin-top: 70px;
}
}


@media  (max-width:1301px) {
    .cards_inline{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    } 

  
    .catalog_select_inline{
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }  
    .catalog_decor{
        width: 230px;
    }

}


@media  (max-width:1085px) and (max-height:570px) {
    .catalog_title{
        text-align: center;
        margin-top: 30px;
    }
    
    .catalog_title p{
        font-size:32px;
        font-weight: 400;
    }
    .catalog_select_inline select{
        font-family: 'RF Tone';
        width: 190px;
        outline: 0;
        padding-bottom: 15px;
        font-size: 14px;
        font-weight: 265;
        border:0;
        background: none;
        border-bottom: 1px solid black  ;
    }
    .catalog_decor{
        width: 250px !important;
    }
    .card img{
        width: 180px;
        height: 180px;
    }

    
.cards_parent{
    width: 93%;
    margin: auto;
    margin-top: 70px;
}

.cards_inline{
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;

}


.cards_inline div{
    margin: 20px 13px;
}
.card p{
    font-size: 15px;
    text-align: center;
    width: 100%;
}
}


@media  (max-width:665px) {
    .catalog_decor{
        width: 100% !important;
    }
    .catalog_select_inline select{
        font-family: 'RF Tone';
        width: 100%;
        outline: 0;
        padding-bottom: 15px;
        /* -webkit-appearance: none; */
        font-size: 26px;
        font-weight: 265;
        border:0;
        background: none;
        border-bottom: 1px solid black  ;
        margin-top: 50px;
    } 

    .cards_inline{
        justify-content: center;
        align-items: center;
    }
}

@media  (max-width:541px) {
    .catalog_title p{
        font-size: 40px;
    }
}


@media  (max-width:441px) {
    .card img{
        width: 100%;
    }
}




 @media (max-width:684px){
    .project_title{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
 }







