@import url('../../assets/Fonts/stylesheet.css');

body{
    margin: 0;
    font-family: 'RF Tone';
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}
/* Desktop */

/* Navbar */


.navbar_background{
    background: white;
    height: 120px;
    display: flex;
    align-items: center;
    position: relative;
}

.navbar_inline{
    display: flex;
    width: 98%;
    align-items: center;
}

.navbar_logo li img{
    width: 300px;
    height: 58px;
    position: absolute;
    top: 35px;
    left: 43px;
}

.navbar_logo{
    display: flex;
    justify-content: space-around;
    width: 700px;
}

.navbar_logo_item{
    width: 300px;
    font-size: 18px;
    position: absolute;
    font-weight: 400;
    font-style: normal;
    color: rgba(0,0,0,0.7);
    line-height: 22px;
    left: 379px;
    top: 42px;
}
.navbar_list{
    display: flex;
    width: 800px;
    justify-content: space-between;
    position: relative;
    left:0px;
}

.navbar_list li a{
    color: black;
    font-size: 24px;
}

.navbar_right_icons{
    display: flex;
    margin-left: auto;
    width: 150px;
    justify-content: space-between;
}

.navbar_right_icons li a img{
    width: 26px;
    height: 24px;
}









/* Media */




@media  screen and (max-width:1446px) and (max-height:760px) {
    .navbar_background{
        background: white;
        height: 100px;
        display: flex;
        align-items: center;
        position: relative;
    }

    .navbar_logo li img{
        width: 200px;
        height: 38px;
        position: absolute;
        top: 35px;
        left: 43px;
    }
    .navbar_logo_item{
        width: 230px;
        font-size: 14px;
        position: absolute;
        font-weight: 400;
        font-style: normal;
        color: rgba(0,0,0,0.7);
        line-height: 22px;
        left: 270px;
        top: 30px;
    }


    .navbar_list li a{
        color: black;
        font-size: 18px;
    }

    
.navbar_right_icons li a img{
    width: 17px;
    height: 17px;
}

.navbar_list{
    display: flex;
    width: 540px;
    justify-content: space-between;
    position: relative;
}


.navbar_logo{
    display: flex;
    justify-content: space-around;
    width: 530px;
}

.navbar_right_icons{
    display: flex;
    margin-left: auto;
    width: 80px;
    justify-content: space-between;
}


}





@media  screen and (max-width:1085px) and (max-height:570px){
    .navbar_logo li img{
        width: 200px;
        height: 45px;
        position: absolute;
        top: 35px;
        left: 30px;
    }
    .navbar_logo_item{
        width: 240px;
        font-size: 13px;
        position: absolute;
        font-weight: 400;
        font-style: normal;
        color: rgba(0,0,0,0.7);
        line-height: 22px;
        left: 249px;
        top: 36px;
    }
    .navbar_list li a{
        color: black;
        font-size: 17px;
    }

    .navbar_right_icons li a img{
        width: 20px;
        height: 21px;
    }
    .navbar_background{
        background: white;
        height: 110px;
        display: flex;
        align-items: center;
        position: relative;
    }

    .navbar_list{
        display: flex;
        width: 550px;
        justify-content: space-between;
        position: relative;
        left:0px;
    }
    .navbar_right_icons{
        display: flex;
        margin-left: auto;
        width: 100px;
        justify-content: space-between;
    }
}














/* 
@media screen and (max-width:1464px){
    .navbar_list li a{
        color: black;
        font-size: 20px;
    }

    .navbar_logo_item{
        font-size: 17px;
        left: 359px;
        top: 42px;
    }

    
    .navbar_right_icons li a img{
        width: 23px;
        height: 22px;
    }

    .navbar_logo li img{
        width:280px;
    }
    
}


@media  screen and (max-width:1392px) {
    .navbar_logo li img{
        width:250px;
        height: 56px;
    }
    .navbar_logo_item{
        font-size: 17px;
        left: 329px;
        top: 42px;
    }

}

@media  screen and (max-width:1317px) {
    .navbar_logo li img{
        width:220px;
        height: 46px;
    }
    .navbar_logo_item{
        font-size: 17px;
        left: 290px;
        top: 42px;
    }
}

@media  screen and (max-width:1231px) {
    .navbar_logo li img{
        width:200px;
        height: 46px;
    }

    .navbar_logo_item{
        font-size: 17px;
        left: 270px;
        top: 42px;
    }
}

@media  screen and (max-width:1188px) {
    .navbar_logo_item{
        display: none;
    }

    .navbar_list{
        display: flex;
        width: 800px;
        justify-content: space-between;
        position: relative;
        left:0px;
    }

    .navbar_logo{
        width: 300px;
    }


    .navbar_right_icons li a img{
        width: 23px;
        height: 21px;
    }
    
    
}


@media screen and (max-width:884px){
    .navbar_logo li img{
        width: 240px;
    }

    .navbar_logo_item{
        width: 300px;
        font-size: 18px;
        transform: translateY(0px);
    }

    .navbar_list{
        display: none;
    }

    .navbar_right_icons li a img{
        width: 26px;
        height: 24px;
    }
    
}


@media screen and (max-width:714px){
    .navbar_logo_item
    {
        display: none ;
    }

    .navbar_logo{
        display: flex;
        justify-content: space-around;
        width: 200px;
    }
}


@media screen and (max-width:417px){
    .navbar_logo li img{
        width: 150px;
    }
    .navbar_logo{
        display: flex;
        justify-content: space-around;
        width: 100px;
    }
    .navbar_right_icons li a img{
        width: 25px;
    }
    
    
} */