@import url('../../assets/Fonts/stylesheet.css');

body{
    margin: 0;
    font-family: 'RF Tone';
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}
/* Desktop */

/* Navbar */


.navbar_background{
    background: white;
    height: 120px;
    display: flex;
    align-items: center;
}

.navbar_inline{
    display: flex;
    width: 98%;
    align-items: center;
}

.navbar_logo li img{
    width: 300px;
    height: 58px;
}

.navbar_logo{
    display: flex;
    justify-content: space-around;
    width: 700px;
}

.navbar_logo_item{
    width: 300px;
    font-size: 18px;
    transform: translateY(10px);
}
.navbar_list{
    display: flex;
    width: 800px;
    justify-content: space-between;
}

.navbar_list li a{
    color: black;
    font-size: 24px;
}

.navbar_right_icons{
    display: flex;
    margin-left: auto;
    width: 150px;
    justify-content: space-between;
}

.navbar_right_icons li a img{
    width: 28px;
}









/* Media */


@media screen and (max-width:1434px){
    .navbar_list{
        display: none;
    }
}


@media screen and (max-width:846px){
    .navbar_logo li img{
        width: 200px;
    }

    .navbar_logo_item{
        width: 300px;
        font-size: 18px;
        transform: translateY(0px);
    }
}


@media screen and (max-width:714px){
    .navbar_logo_item
    {
        display: none ;
    }

    .navbar_logo{
        display: flex;
        justify-content: space-around;
        width: 200px;
    }
}


@media screen and (max-width:417px){
    .navbar_logo li img{
        width: 150px;
    }
    .navbar_logo{
        display: flex;
        justify-content: space-around;
        width: 100px;
    }
    .navbar_right_icons li a img{
        width: 25px;
    }
    
    
}