@import url('../../assets/Fonts/stylesheet.css');

.designer_title{
    width: 92%;
    margin: auto;
    margin-top: 152px;
}
.designer_title h2{
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
}

.designer_title p{
    font-weight: 265;
    font-size: 24px;
    font-family: 'RF Tone';
    line-height: 28px;
    color: rgba(0,0,0,0.7);
    margin-top: 57px;
    width: 1424px;
}

.designer_p{
    margin-top: 21px;
}



/* CArd */

.designer_banner{
    width: 92%;
    margin: auto;
    margin-top: 155px;
}

.designer_inline{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 1600px;
}

.designer_card{
    width: 500px;
    height: 500px;
    margin-bottom: 300px;
}

.designer_card h2{
    margin-top: 19px;
    font-size: 26px;
    font-family: 'RF Tone';
    font-weight: normal;
    line-height: 31px;
}

.designer_card p{
    font-size: 20px;
    font-weight: 265;
    margin-top: 7px;
}

.designer_card button{
    margin-top: 21px;
    width: 285px;
    height: 55px;
    background: black;
    font-weight: bold;
    font-size: 20px;
    color: white;
    line-height: 24px;
    text-align: center;
    font-family: 'RF Tone';
}





/* Work banner */




.work_banner{
    background: #f2f2f2;
    height: 100%;
}

.work_padding{
    padding: 0px 0;
}

.work_title{
    text-align: center;
}

.work_title h2{
    font-size: 52px;
    padding-top: 78px;
    font-weight: 400;
}


.form_block_inline{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 108px;
}


form div input{
    background: none;
    border:0;
    border-bottom: 1px solid rgba(  0,0,0,0.6);
    padding: 15px 0;
    font-size: 24px;
    font-weight: 265;
    outline: none;
    margin: 24px 0;
    width: 437px;
}
form div select{
    background: none;
    border:0;
    color: rgba(0,0,0,0.6);
    border-bottom: 1px solid rgba(0,0,0,0.6);
    padding: 15px 0;
    font-size: 24px;
    outline: none;
    font-weight: 265;
    font-family: 'RF Tone';
    margin: 24px 0;
    width: 437px;
    transform: translateY(10px);
}
form div{
    position: relative;
}

form div i{
    position: absolute;
    right: 5%;
    top: 40%;
}

.work_banner .form_button {
    text-align: center;
    margin-top: 110px;
}

.form_button button{
    width: 455px;
    height: 75px;
    background: black;
    color: white;
    font-size: 24px;
    margin-bottom: 78px;
    font-family: 'RF Tone'; 
    font-weight: 700;
}





.form_block_center{
    width: 55%;
    margin: auto;
}














/* Medida  */




@media screen and (max-width:806px){
    .form_block_inline{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .work_title{
        text-align: center;
        padding: 50px;
    }
    
    .work_title h2{
        font-size: 35px;
    }
    
    .work_title p{
        font-size: 20px;
    }
 }

 @media (max-width:684px){
    .project_title{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
 }


 @media (max-width:438px){
    form div input{
        background: none;
        border:0;
        border-bottom: 2px solid gray;
        padding: 15px 0;
        font-size: 25px;
        outline: none;
        margin: 10px 0;
        width: 100%;
    }



    .form_block_center{
        width: 100%;
        margin: auto;
    }

    .form_button{
        width: 90%;
        margin: auto;
    }
    .form_button button{
        width: 100%;
        padding: 15px 0; 
        background: black;
        color: white;
        font-size: 23px;
    }    
 }

 @media (max-width:369px){
    .form_right_block div ul li span{
        margin: 0px 2px;
    }
    
 }


 @media (max-width:320px){
    .work_title h2{
        font-size: 25px;
    }

    .form_button button{
        width: 100%;
        padding: 15px 0; 
        background: black;
        color: white;
        font-size: 18px;
    }    

    .form_right_block div ul li {
        font-size: 18px;
        width: 100%;
        margin: 15px 0;
        display: flex;
    }

 }
