@import url('../../../assets/Fonts/stylesheet.css');
.slider_parent{
    position: relative;
    height: 800px;
}


.swiper-container {
    width: 100%;
    height: 100vh;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

 


  .slider_picture1{
      background: url('../../../assets/Solve/slider.jpg') center / cover;
      width: 100%;
      height: 800px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
   
  }

  .slider_picture1::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.3);
      ;
  }

  .slider_picture2::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    ;
}

  .slider_picture2{
      background: url('https://images8.alphacoders.com/595/thumb-1920-595107.jpg') center / cover;
      width: 100%;
      height: 800px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
  
  }

  .slider_picture3{
    background: url('https://lh3.googleusercontent.com/proxy/Wlfusm1YDzgcVSMEbQ3PFQCVRoigKWapAtEtjj5glIPSJj8CpzrhcHhzH8m1HwVbvwC58UD0Q7oQRrv8vAyQydrWjOBVXZ9_y0t5-jDx8FTtQpEZY9CGDTstakEB7gHHgi8BAOXjycnkLBxCC3m6aTCYFcTy') center / cover;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.slider_title{
    color: white;
    font-size: 80px;
    text-align: center;
    width: 1115px;
    font-weight: 400;
    position: relative;
    margin-bottom: 10px;
}

.slider_title_span{
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 24px;
}



.swiper_button_next{
    color: white;
    margin-right: 50px;
}

.swiper_button_prev{
    color: white;
    margin-left: 50px;
}


.solve_banner{
    width: 90%;
    margin: auto;
    margin-top: 104px;

}

.solve_inline{
    display: flex;
    align-items: center;
}

.solve_left{
    width: 49%;
}

.solve_left p{
    font-family: 'RF Tone';
    font-weight: 265;
    font-size: 36px;
    line-height: 43px;
}


.solve_right_inline{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.solve_right_inline div{
    text-align: center;
    width: 26%;
}

.solve_right_inline h2{
    font-weight: 300;
    font-size: 26px;
    font-family: 'RF Tone';
    text-transform: uppercase;
}

.solve_right_inline p{
    font-weight: 265;
    font-size: 24px;
}



.solve_description{
    width: 90%;
    margin: auto;
    margin-top: 131px;

}


.solve_description h2{
    font-weight: 400;
    font-size: 52px;
}

.solve_description p{
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    margin-top: 70px;
    width: 1219px;
}


.solve_advise{
    text-align: center;
    margin-top: 131px;
}

.solve_advise h2{
    font-size: 52px;
    font-weight: 400;
}







.cards_parent{
    width: 93%;
    margin: auto;
    margin-top: 80px;
}

.cards_inline{
    display: flex;
    flex-wrap: wrap;
    width: 1810px;
    align-items: center;

}


.cards_inline div{
    margin: 20px 30px;
}

.card{
    text-align: center;
}
.card img{
    width: 301px;
}


.card p{
    font-size: 24px;
    text-align: center;
    width: 100%;
}



.solve_project{
    width: 90%;
    margin: auto;
    margin-top: 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

.solve_project div{
    width: 200px;
}

.solve_project h2{
    font-weight: 400;
    font-size: 52px;
}

.solve_project p{
    font-weight: 400;
    font-size: 18px;
    color: rgba(0,0,0,0.35);
    border-bottom: 1px solid rgba(0,0,0,0.35);
}






/* LAPTOP */

@media   (max-width:1446px) and (max-height:760px){
     .slider_picture1{
        height: 570px ;
     }
     .slider_parent{
         height: 570px;
     }

     .slider_picture1 .slider_title{
         font-size:57px ;
         transform: translateY(6px);
     }

     .slider_picture1 .slider_title_span{
         font-size:18px;
         font-weight: 200;
         color: #E3E3E3;
         transform: translateY(18px);
     }

     .swiper_button_next{
         margin-right: 8px;
     }

     .swiper_button_prev{
         margin-left: 8px;
     }







     /* SOlve */



     .solve_banner{
        width: 90%;
        margin: auto;
        margin-top: 90px;
    
    }
    .solve_left{
        width: 47%;
    }
    

    .solve_left p{
        font-family: 'RF Tone';
        font-weight: 265;
        font-size: 25px;
        line-height: 33px;
    }



    /* Solve Right */

    
    .solve_right_inline h2{
        font-weight: 400;
        margin-top:3px;
        font-size: 18px;
        font-family: 'RF Tone';
        text-transform: uppercase;
    }

    .solve_right_inline p{
        font-weight: 265;
        font-size: 18px;
    }



    /* Solve description */

    .solve_description{
        margin-top: 95px;
    }
        
    .solve_description h2{
        font-weight: 400;
        font-size: 38px;
    }



    .solve_description p{
        font-weight: 300;
        font-size: 17px;
        width: 71% !important;
        line-height: 18px;
        margin-top: 50px;
        width: 1219px;
    }

    /* Solve advise */

    .solve_advise{
        text-align: center;
        margin-top: 115px;
    }
    
    .solve_advise h2{
        font-size: 37px;
        font-weight: 400;
    }







    /* Cards */


    .cards_parent{
        width: 93%;
        margin: auto;
        margin-top: 55px;
    }
    
    .cards_inline{
        display: flex;
        flex-wrap: wrap;
        width: 1280px;
        align-items: center;
    
    }

    
    .cards_inline div{
        margin: 20px 22px;
    }

    .card{
        text-align: center;
    }
    .card img{
        width: 210px;
        height: 211px;
    }


    .card p{
        font-size: 17px;
        margin-top: -12px;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
    }


    /* Projects */




    .solve_project{
        width: 90%;
        margin: auto;
        margin-top: 28px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }   
    
    .solve_project div{
        width: 160px;
    }
    
    .solve_project h2{
        font-weight: 400;
        font-size: 37px;
    }
    
    .solve_project p{
        font-weight: 400;
        transform: translateY(10px);
        font-size: 12px;
        color: rgba(0,0,0,0.35);
        border-bottom: 1px solid rgba(0,0,0,0.35);
    }

   
    
}










/* FORM */


.work_banner{
    background: #f2f2f2;
    height: 100%;
    margin-top:100px;
    padding: 50px 0 !important;
}



.work_title{
    text-align: center;
    padding-top: 20px;
}

.work_title h2{
    font-size: 52px;
    font-weight: 400;
}

.work_title p{
    font-size: 26px;
    font-weight: 300;
}
.form_block_inline{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


form div input{
    background: none;
    border:0;
    border-bottom: 1px solid rgba(0,0,0,0.6) ;
    padding: 24px 0 !important;
    font-size: 24px;
    color: rgba(0,0,0,0.8) ;
    outline: none;
    margin: 10px 0;
    width: 437px ;
    font-weight: 265;
    font-family: 'RF Tone';
}
form div{
    position: relative;
}

form div img{
    width: 22px;
    height: 24px;
    position: absolute;
    right: 5%;
    top: 40%;
}

.work_banner .form_button {
    text-align: center;
    margin-top: 60px;
}

.form_button button{
    width: 455px;
    height: 75px;
    font-family: 'RF Tone';
    border:0;
    background: black;
    font-weight: 700;
    color: white;
    font-size: 24px;
    margin-left: 80px;
    margin-bottom: 47px;
}




.form_right_block div ul li {
    font-size: 24px;
    width: 100%;
    margin: 30px 0;
    font-weight: 300;
    line-height: 28.8px;
    display: flex;
}

.form_right_block div ul li span{
    margin: 0px 20px;
}



.form_block_center{
    width: 95%;
    margin: auto;
}










@media  (max-width:1446px) and (max-height:760px) {
    .work_banner{
        background: #f2f2f2;
        height: 100%;
        margin-top:50px;
        padding: 0px 0;
    }
    
    .form_button button{
        height: 55px;
        width: 400px;
    }
        
    .work_title{
        text-align: center;
        padding-top: 0px;
        transform: translateY(-5px);
    }
    
    .work_title h2{
        font-size: 37px;
        font-weight: 400;
    }
    
    .work_title p{
        font-size: 18px;
        font-weight: 300;
    }

    .form div input{
        background: none;
        border:0;
        border-bottom: 1px solid rgba(0,0,0,0.6) ;
        padding: 18px 0 !important;
        font-size: 18px !important;
        color: rgba(0,0,0,0.8) ;
        outline: none;
        width: 300px !important;
        font-weight: 265;
        margin:5px 0px;
        font-family: 'RF Tone';
    }

 
    .form_block_inline{
        margin-top: 15px;
    }
    .form img{
        width: 16px;
        height: 16px;
        position: absolute;
        right: 0%;
        top: 40%;
    }

    .work_banner .form_button {
        text-align: center;
        margin-top: 20px;
    }
    
    .form_button button{
        width: 325px;
        height: 55px;
        font-family: 'RF Tone';
        border:0;
        background: black;
        font-weight: 700;
        color: white;
        font-size:17px;
        margin-left: 60px;
        margin-bottom:60px;
    }
    
        
    .form_right_block div ul li {
        font-size: 17px;
        width: 100%;
        margin: 25px 0;
        font-weight: 400;
        line-height: 20px;
        display: flex;
    }

    .form_right_block div ul li span{
        margin: 0px 18px;
    }
}











@media  (max-width:1085px) and (max-height:570px) {
    .work_banner{
        background: #f2f2f2;
        height: 100%;
        margin-top:100px;
        padding:20px 0;
    }

    .work_title h2{
        font-size: 32px;
        font-weight: 400;
    }
    
    .work_title p{
        font-size: 18px;
        font-weight: 300;
    }
    .form div input{
        background: none;
        border:0;
        border-bottom: 1px solid rgba(0,0,0,0.6) ;
        padding: 18px 0 !important;
        font-size: 15px !important;
        color: rgba(0,0,0,0.8) ;
        outline: none;
        margin: 10px 0;
        width: 320px !important ;
        font-weight: 265;
        font-family: 'RF Tone';
    }

    .form_right_block div ul li {
        font-size:17px;
        width: 100%;
        margin: 27px 0;
        font-weight: 300;
        line-height: 20.8px;
        display: flex;
    }
    
    .form_right_block div ul li span{
        margin: 0px 18px;
    }
    
    
    
    .form_block_center{
        width: 95%;
        margin: auto;
    }


    .work_banner .form_button {
        text-align: center;
        margin-top: 60px;
    }
    
    .form_button button{
        width: 355px;
        height: 53px;
        font-family: 'RF Tone';
        border:0;
        background: black;
        font-weight: 700;
        color: white;
        font-size:18px;
        margin-left: 80px;
        margin-bottom: 47px;
    }
    
}




@media (max-width:880px){
    
   .form_block_inline{
       display: flex;
       justify-content: space-around;
       align-items: center;
   }
   .work_title{
       text-align: center;
       padding: 50px;
   }
   
   .work_title h2{
       font-size: 35px;
   }
   
   .work_title p{
       font-size: 20px;
   }
  
}



@media  (max-width:648px) {
    .form_block_inline{
        flex-direction: column;
    }
}

@media  (max-width:500px) {
    .work_banner .form_button {
        text-align: center;
        width: 80%;
        margin: auto;
        margin-top: 60px;

    }
    
    .form_button button{
        width: 80%;
        height: 55px;
        font-family: 'RF Tone';
        border:0;
        background: black;
        font-weight: 700;
        color: white;
        font-size: 19px;
        margin-left: 0;
        margin-bottom: 47px;
    }
    
    
}
@media  (max-width:436px) {
    .work_title h2{
        font-size: 32px;
    }   
    
}





@media  (max-width:375px) {
   
  
    .work_title p{
        font-size: 15px;
    }
    .form div input{
        width: 300px !important;
        font-size: 18px;
    }

    .form_right_block span{
        font-size: 15px;
    }

    

.form_right_block div ul li {
    font-size: 16px;
    width: 100%;
    margin: 20px 0;
    font-weight: 300;
    line-height: 28.8px;
    display: flex;
}
.form_right_block div ul{
    padding-left: 0;
}
.form_right_block div ul li span{
    margin: 0px 5px;
}



}