@import url('../../../assets/Fonts/stylesheet.css');
.slider_parent{
    position: relative;
    height: 100vh;
}


.swiper-container {
    width: 100%;
    height: 100vh;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

 


  .slider_picture1{
      background: url('https://wallpapercave.com/wp/wp6181121.jpg') center / cover;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
   
  }

  .slider_picture2{
      background: url('https://images8.alphacoders.com/595/thumb-1920-595107.jpg') center / cover;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  
  }

  .slider_picture3{
    background: url('https://lh3.googleusercontent.com/proxy/Wlfusm1YDzgcVSMEbQ3PFQCVRoigKWapAtEtjj5glIPSJj8CpzrhcHhzH8m1HwVbvwC58UD0Q7oQRrv8vAyQydrWjOBVXZ9_y0t5-jDx8FTtQpEZY9CGDTstakEB7gHHgi8BAOXjycnkLBxCC3m6aTCYFcTy') center / cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.slider_title{
    color: white;
    font-size: 80px;
    text-align: center;
    width: 1115px;
    font-weight: 400;
    margin-bottom: 10px;
}

.slider_title_span{
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 24px;
}






.solve_banner{
    width: 90%;
    margin: auto;
    margin-top: 104px;

}

.solve_inline{
    display: flex;
    align-items: center;
}

.solve_left{
    width: 49%;
}

.solve_left p{
    font-family: 'RF Tone';
    font-weight: 265;
    font-size: 36px;
    line-height: 43px;
}


.solve_right_inline{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.solve_right_inline div{
    text-align: center;
    width: 26%;
}

.solve_right_inline h2{
    font-weight: 300;
    font-size: 26px;
    font-family: 'RF Tone';
    text-transform: uppercase;
}

.solve_right_inline p{
    font-weight: 265;
    font-size: 24px;
}



.solve_description{
    width: 90%;
    margin: auto;
    margin-top: 131px;

}


.solve_description h2{
    font-weight: 400;
    font-size: 52px;
}

.solve_description p{
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    margin-top: 70px;
    width: 1219px;
}


.solve_advise{
    text-align: center;
    margin-top: 131px;
}

.solve_advise h2{
    font-size: 52px;
    font-weight: 400;
}







.cards_parent{
    width: 93%;
    margin: auto;
    margin-top: 80px;
}

.cards_inline{
    display: flex;
    flex-wrap: wrap;
    width: 1810px;
    align-items: center;

}


.cards_inline div{
    margin: 20px 30px;
}

.card{
    text-align: center;
}
.card img{
    width: 301px;
}


.card p{
    font-size: 24px;
    text-align: center;
    width: 100%;
}



.solve_project{
    width: 90%;
    margin: auto;
    margin-top: 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

.solve_project div{
    width: 200px;
}

.solve_project h2{
    font-weight: 400;
    font-size: 52px;
}

.solve_project p{
    font-weight: 400;
    font-size: 18px;
    color: rgba(0,0,0,0.35);
    border-bottom: 1px solid rgba(0,0,0,0.35);
}






/* Work banner */


.work_banner{
    background: #f2f2f2;
    height: 100%;
    margin-top:100px;
}



.work_title{
    text-align: center;
    padding-top: 20px;
}

.work_title h2{
    font-size: 52px;
    font-weight: 400;
}

.work_title p{
    font-size: 26px;
    font-weight: 300;
}
.form_block_inline{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


form div input{
    background: none;
    border:0;
    border-bottom: 1px solid rgba(0,0,0,0.6) ;
    padding: 24px 0 !important;
    font-size: 24px;
    color: rgba(0,0,0,0.8) ;
    outline: none;
    margin: 10px 0;
    width: 437px !important;
    font-weight: 265;
    font-family: 'RF Tone';
}
form div{
    position: relative;
}

form div i{
    position: absolute;
    right: 5%;
    top: 40%;
}

.work_banner .form_button {
    text-align: center;
    margin-top: 60px;
}

.form_button button{
    width: 455px;
    height: 75px;
    font-family: 'RF Tone';
    border:0;
    background: black;
    font-weight: 700;
    color: white;
    font-size: 24px;
    margin-left: 80px;
    margin-bottom: 180px;
}




.form_right_block div ul li {
    font-size: 24px;
    width: 100%;
    margin: 30px 0;
    font-weight: 300;
    line-height: 28.8px;
    display: flex;
}

.form_right_block div ul li span{
    margin: 0px 20px;
}



.form_block_center{
    width: 95%;
    margin: auto;
}














 /* Work bammer*/ 


 

 @media screen and (max-width:806px){
    .form_block_inline{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .work_title{
        text-align: center;
        padding: 50px;
    }
    
    .work_title h2{
        font-size: 35px;
    }
    
    .work_title p{
        font-size: 20px;
    }
 }

 @media (max-width:684px){
    .project_title{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
 }


 @media (max-width:438px){
    form div input{
        background: none;
        border:0;
        border-bottom: 2px solid gray;
        padding: 15px 0;
        font-size: 25px;
        outline: none;
        margin: 10px 0;
        width: 100%;
    }



    .form_block_center{
        width: 100%;
        margin: auto;
    }

    .form_button{
        width: 90%;
        margin: auto;
    }
    .form_button button{
        width: 100%;
        padding: 15px 0; 
        background: black;
        color: white;
        font-size: 23px;
    }    
 }

 @media (max-width:369px){
    .form_right_block div ul li span{
        margin: 0px 2px;
    }
    
 }


 @media (max-width:320px){
    .work_title h2{
        font-size: 25px;
    }

    .form_button button{
        width: 100%;
        padding: 15px 0; 
        background: black;
        color: white;
        font-size: 18px;
    }    

    .form_right_block div ul li {
        font-size: 18px;
        width: 100%;
        margin: 15px 0;
        display: flex;
    }

 }