@import url('../../assets/Fonts/stylesheet.css');


.solve_title{
    text-align: center;
    margin-top: 80px;
}

.solve_title p{
    font-size: 52px;

}
a{
    color: black;
}

.solve_banner{
    width: 90%;
    margin: auto;
    margin-top: 100px;
}

.solve_inline{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    
}

.solve_card{
    text-align: center;
    font-size: 23px;
    margin: 10px 0;
}
.solve_card img{
    width: 420px;
    height: 320px;
}











.work_banner{
    background: #f2f2f2;
    height: 100%;
    margin-top: 100px;
}

.work_padding{
    padding: 50px 0;
}

.work_title{
    text-align: center;
    padding: 50px;
}

.work_title h2{
    font-size: 52px;
}

.work_title p{
    font-size: 26px;
}
.form_block_inline{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


form div input{
    background: none;
    border:0;
    border-bottom: 2px solid gray;
    padding: 15px 0;
    font-size: 24px;
    outline: none;
    margin: 10px 0;
    width: 400px;
}
form div{
    position: relative;
}

form div i{
    position: absolute;
    right: 5%;
    top: 40%;
}

.work_banner .form_button {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 120px;

}

.form_button button{
    width: 400px;
    padding: 15px 0; 
    background: black;
    color: white;
    font-size: 24px;
}




.form_right_block div ul li {
    font-size: 24px;
    width: 100%;
    margin: 15px 0;
    display: flex;
}

.form_right_block div ul li span{
    margin: 0px 20px;
}



.form_block_center{
    width: 80%;
    margin: auto;
}










/* Media */




@media screen and (max-width:806px){
    .form_block_inline{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .work_title{
        text-align: center;
        padding: 50px;
    }
    
    .work_title h2{
        font-size: 35px;
    }
    
    .work_title p{
        font-size: 20px;
    }
 }

 @media (max-width:684px){
    .project_title{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
 }


 @media (max-width:438px){
    form div input{
        background: none;
        border:0;
        border-bottom: 2px solid gray;
        padding: 15px 0;
        font-size: 25px;
        outline: none;
        margin: 10px 0;
        width: 100%;
    }



    .form_block_center{
        width: 100%;
        margin: auto;
    }

    .form_button{
        width: 90%;
        margin: auto;
    }
    .form_button button{
        width: 100%;
        padding: 15px 0; 
        background: black;
        color: white;
        font-size: 23px;
    }    
 }

 @media (max-width:369px){
    .form_right_block div ul li span{
        margin: 0px 2px;
    }
    
 }


 @media (max-width:320px){
    .work_title h2{
        font-size: 25px;
    }

    .form_button button{
        width: 100%;
        padding: 15px 0; 
        background: black;
        color: white;
        font-size: 18px;
    }    

    .form_right_block div ul li {
        font-size: 18px;
        width: 100%;
        margin: 15px 0;
        display: flex;
    }

 }