.side_banner{
    background: #252625;
    width: 619px;
    height: 100vh;
    position: fixed;
    z-index: 10;
}

.side_logo_inline{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.side_logo_inline img{
    width: 350px;
    height: 67px;
}
.side_logo_inline span{
    color: white;
    font-size: 50px;
    font-weight: 200;
}
.side_body{
    width: 80%;
    margin: auto;
}